clearml==1.18.0
matplotlib==3.7.1
pandas==1.5.3
scikit_learn==1.4.0
numpy==1.25.2
jax==0.4.14
torch==2.3.1+cu118
torchvision==0.18.1+cu118
-f https://download.pytorch.org/whl/torch_stable.html